<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yeung.dao.YeungClientNoteDao">
    <resultMap id="RM_YeungClientNote" type="com.yeung.po.YeungClientNote">
        <result property="id" column="id"/>
        <result property="clientId" column="client_id"/>
        <result property="note" column="note"/>
        <result property="deposit" column="deposit"/>
        <result property="createTime" column="create_time"/>
        <result property="timestamp" column="timestamp"/>
        <result property="createDate" column="create_date"/>
    </resultMap>

    <sql id="yeungClientNote_columns">
        <![CDATA[
		id,client_id,note,deposit,create_time,timestamp,create_date
	    ]]>
    </sql>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO yeung_client_note (
        id,
        client_id,
        note,
        deposit,
        create_time,
        timestamp,
        create_date,
        is_enable
        ) VALUES (
        #{id} ,
        #{clientId} ,
        #{note} ,
        #{deposit} ,
        #{createTime},
        #{timestamp},
        #{createDate},
        #{isEnable}
        )

    </insert>

    <update id="update" >
        UPDATE yeung_client_note
        <set>
            <if test="@com.yeung.utils.Ognl@isNotEmpty(deposit)">deposit = #{deposit},
            </if>

            <if test="@com.yeung.utils.Ognl@isNotEmpty(note)">note = #{note},
            </if>

        </set>

        WHERE
        id = #{id}
        AND is_enable = 1

    </update>

    <sql id="yeungClientNote_findPage_where">
        <!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
        <where>
            AND is_enable = 1
            <if test="@com.yeung.utils.Ognl@isNotEmpty(clientId)">
                AND client_id = #{clientId}
            </if>
            <if test="@com.yeung.utils.Ognl@isNotEmpty(timestamp)">
                AND `timestamp` = #{timestamp}
            </if>
        </where>
    </sql>

    <select id="findNumberByCondition" resultType="long">
        SELECT count( id ) FROM yeung_client_note
        <include refid="yeungClientNote_findPage_where"/>
    </select>



    <select id="findPageBreakByCondition" resultMap="RM_YeungClientNote">
        SELECT <include refid="yeungClientNote_columns" />
        FROM yeung_client_note
        <include refid="yeungClientNote_findPage_where"/>
        <if test="@com.yeung.utils.Ognl@isNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>

    </select>

    <select id="findByCondition" resultMap="RM_YeungClientNote">
        SELECT <include refid="yeungClientNote_columns" />
        FROM yeung_client_note
        <include refid="yeungClientNote_findPage_where"/>

    </select>

</mapper>